
$color-primary: #A9BDD2;
$color-secondary: #D2BB94;
$color-error: #red;
$color-success: #green;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #DAD2C5;
$color-grey: #9A958B;
$color-darkgrey: #5B5752;

$pad: 0.5em;

$font-sansserif: sans-serif;
$font-monospace: monospace;
